<div class="bg-section h-full w-full flex flex-col justify-center items-center p-2">

  <div class="md:w-2/4 flex justify-between items-center">
    <div class="pr-2 md:p-0">
      <img
        class="w-[100px] md:w-[150px] h-[100px] md:h-[150px] rounded-full "
        src="assets/arturo.jpg"
        alt="Arturo"
      >
      <p class="mt-2 text-center text-3xl px-3 py-1 bg-blur font-family-paris">Arturo</p>
    </div>
    <div class="pl-1 md:p-0">
      <img
        class="w-[100px] md:w-[150px] h-[100px] md:h-[150px] rounded-full "
        src="assets/raiza.jpg"
        alt="Raiza"
      >
      <p class="mt-2 text-center text-3xl bg-blur px-3 py-1 font-family-paris">Raiza</p>
    </div>
  </div>
  <p class="bg-blur text-xl md:w-2/4 text-center mt-10 py-2 px-5">
    "Un día, en la búsqueda de la felicidad, descubres a tu pareja a tu lado y te das cuenta de que ha sido la felicidad la que ha venido a buscarte"
  </p>
</div>
