<div class="text-white h-full w-full flex flex-col justify-between items-center p-4 py-8">
  <section>
    <p class="drop-shadow-lg shadow-black py-3 text-center text-2xl">
      ¡Llegó el momento de celebrar <br>
      para ella su gran dia!
    </p>
    <p class=" text-2xl text-center drop-shadow-lg shadow-black">¿Nos acompañas?</p>
  </section>

  <section class="p-5 rounded-lg">
    <h4 class="text-2xl drop-shadow-lg shadow-black text-center tracking-[.15rem] pt-3 font-family-paris pink-color">
      Yorsy Zambrano <br>
      Wendy Cardenas
    </h4>
  </section>

  <section class="p-2 rounded">
    <p class="text-2xl text-center">
      "Felices y dichosos por elegirnos como tus padres <span class="font-semibold">ISABELLA</span> de mi corazon, Agradecidos a Dios Padre por darnos la oportunidad de verte hoy llegar a esta etapa
      <br><br>
      Nos sentimos muy orgullosos  de tí, de verte tan hermosa, tan maravillosa, inteligente, espléndida, única y notable. Recuerda que incondicionalmente estaremos para guiarte y apoyarte.
      <br><br>
      Te deseamos una Vida plena donde siempre tu Luz Brille y el Espíritu Santo  guie tu SER.
      Atesora en tu Corazón sólo los mejores recuerdos de tu niñez deseando que tengas un futuro  colmado de Amor e Inmesurables Alegrías. DIOS TE BENDIGA Hija Adorada...
      Con Amor Papá y Mamá"
    </p>
  </section>
</div>
