<div class="text-white h-full w-full flex flex-col justify-between items-center p-4 py-20">
  <section>
    <h3 class="font-semibold tracking-[.25rem] text-center text-3xl drop-shadow-lg shadow-black font-family-paris pink-color">
      MIS XV AÑOS
    </h3>
    <p class="drop-shadow-lg shadow-black py-3 text-center text-lg text-black font-semibold">¡Llegó el momento de celebrar mi gran noche!</p>
    <p class=" text-base text-center drop-shadow-lg shadow-black">¿Me acompañas?</p>
  </section>

  <section class="p-5 rounded-lg">
    <h3 class="drop-shadow-lg shadow-black tracking-[.25rem] text-center text-4xl font-family-paris pink-color">
      Mis Padres
    </h3>

    <h4 class="text-3xl drop-shadow-lg shadow-black text-center tracking-[.15rem] pt-3 font-family-paris pink-color">
      Wendy Cardenas <br>
      Yorsy Zambrano
    </h4>
  </section>

  <section class="p-2 rounded">
    <p class="text-lg">
      "Gracias por darnos la oportunidad de elegirnos como tus padres <span class="font-semibold">ISABELLA</span> de mi Corazón, Ademas Agradecidos a Dios Padre por darnos la oportunidad de verte hoy llegar a esta etapa ya convertida en una gran Mujer
      Nos sentimos muy orgullosos  de tí, de verte tan hermosa, tan maravillosa, inteligente, espléndida, única y notable. Recuerda que incondicionalmente estaremos para guiarte y apoyarte.
      Te deseamos una Vida plena donde siempre tu Luz Brille y el Espíritu Santo  guie tu SER.
      Atesora en tu Corazón sólo los mejores recuerdos de tu niñez deseando que tengas un futuro  colmado de Amor e Inmesurables Alegrías. DIOS TE BENDIGA Hija Adorada...
      Con Amor <span class="font-semibold">Papá y Mamá</span>"
    </p>
  </section>
</div>
