.bg-section {
  background-image: url("../../../assets/section-fourth.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-blur {
  background-color: rgb(175 194 255 / 38%);
  backdrop-filter: blur(4px);
}
