<div class="bg-section h-full w-full flex flex-col justify-center items-center p-2">
  <h1 class="bg-blur text-4xl font-family-paris px-3 py-2">Querido invitado...</h1>
  <div class="bg-blur text-lg mt-10 py-2 px-5" *ngIf="listInvitations">
    <ul class="ml-2">
      <li *ngFor="let item of listInvitations.name" class="list-disc">{{item}}</li>
    </ul>
  </div>
  <p class="bg-blur text-lg md:w-2/4 text-center mt-10 py-2 px-5">
    ¡Nos complace avisarte que estás invitado/a a nuestra boda por la iglesia! <br>
    Será la confirmación de la vida que ya estamos viviendo juntos. <br> Esperamos que asistas ya que si recibiste está invitación es porque eres parte de nuestros seres queridos.
  </p>
</div>
