.bg-section {
  background-image: url("../../../assets/section-third.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-blur {
  background-color: rgba(183, 183, 183, 0.53);
  backdrop-filter: blur(4px);
}
