<div class="h-screen lg:h-full">
  <app-section-first></app-section-first>
</div>
<div class="bg-sky">
  <div class="h-[calc(100vh+25vh)] lg:h-full">
    <app-section-second></app-section-second>
  </div>

  <div class="h-[calc(100vh+30vh)] lg:h-full">
    <app-section-third></app-section-third>
  </div>

  <div class="h-[calc(100vh+30vh)] lg:h-full">
    <app-section-fourth></app-section-fourth>
  </div>

  <div class="h-[calc(100vh+10vh)] lg:h-full">
    <app-section-fifth></app-section-fifth>
  </div>
</div>

