@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

* {
  font-family: 'Dancing Script', cursive;
}

.font-family-paris {
  font-family: 'Castoro Titling', cursive;
}

.pink-color {
  color:   #dbc4c7;
}
